<div class="numpad">
  <div class="num-container">
    <div style="display:flex;justify-content:center;">
      <ng-container *ngFor="let char of mask">
        <div *ngIf="config.masked" class="masked u-palette-1-base u-shape u-shape-circle"></div>
        <div *ngIf="!config.masked" class="masked u-text u-text-1">{{char}}</div>
      </ng-container>
    </div>
    <div numKeypress (numKeyup)="update($event)">
      <ul><li *ngFor="let num of nums" (click)="!isSet?update(num):null">{{num}}</li></ul>
    </div>
  </div>
</div>
